body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

.menu {
  width: 200px;
  float: left;
  height: 100%;
  background: #e2e2e2;
}

.view-container {
  text-align: center;
}

.view-container h1{
  margin-top: 0;
} 

.outline {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

#App__mainContainer {
  width: 100%;
  height: calc(100vh - 105px);
  min-height: 671px;
  min-width: 1440px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#App__routerContainer {
  width: 80%;
  background: #fff;
  position: relative;
}