.navLink {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  cursor: pointer;
}

.fr {
  float: right;
}

#Nav__shoppingCart {
  color: black;
  font-size: 30px;
  position: relative;
}

#Nav__container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  min-width: 1440px;
}

#Nav__linksContainer {
  width: 80%;
}

#Nav__itemsInCart {
  display: inline;
  position: relative;
  top: 3px;
}